WaterMarkService_Test/Service References/WatermarkingSvc/WaterMarkService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WaterMarkFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileContents" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="WaterMarkContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterMarkFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WaterMarkFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>